{% extends 'base.html' %}
{% load static %}

{% block content %}
    <form method="post" class="register-form">
        {% csrf_token %}
        <div style="text-align: center;">
            <img src="{% static 'users/images/logo.png' %}" alt="PROSUI Logo" style="width: 200px; height: auto;">
        </div>



        <div class="txtb">
            {{ form.email.label_tag }}  
            {{ form.email }}
        </div>

        <div class="txtb">
            {{ form.password.label_tag }}  
            {{ form.password }}
        </div>

        <button type="submit" class="logbtn">Log in</button>
    </form>

    
{% endblock content %}
